<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdsite.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.wdsite.pojo.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pasword" jdbcType="VARCHAR" property="pasword" />
    <result column="REMOVED" jdbcType="VARCHAR" property="removed" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wdsite.pojo.User">
    insert into user (id, username, pasword, 
      REMOVED, create_date, update_date
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{pasword,jdbcType=VARCHAR}, 
      #{removed,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wdsite.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      pasword = #{pasword,jdbcType=VARCHAR},
      REMOVED = #{removed,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, pasword, REMOVED, create_date, update_date
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, pasword, REMOVED, create_date, update_date
    from user
  </select>
</mapper>